*{
    font-family: 'Poppins', sans-serif;
}




body{
    background-color: black;
}




.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}







.promo{
    background-color: rgb(0, 0, 0);
}

.promo h5{
    padding: 8px;
    color: #fff;
    font-weight: 300;
}

.promo h5 span{
    font-family: 'poppins';
    font-weight: 600;
}

.promo button{
    background-color: #ff0066;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
}

.menu{
    background-color: rgb(49, 49, 49);
}
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
.slider{
    color: #cecece;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse .92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}



.locales{
    color: #cecece;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse .92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}


.nosotros{
    background: url(../images/fondo2.png);
    background-color: #fff;
}

.nosotros h3{
    padding-top: 15%;
    font-size: 30px;
    color: #3f3f3f;

}

.nosotros span{
    font-weight: 600;
    color: #ff0066;
}

.nosotros2{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}
.nosotros img{
    width: 100%;
    padding-top: 20%;
}

.nosotros .ventajas{
    margin-top: 15%;
    margin-left: 10%;
}

.nosotros .ventajas .card{
    border-color: #ff0066;
    margin-top: 10px;
    margin-block-end: 10px;
}


.carreras{
    
    background-color: #f5f5f5;
}




.locales h3{
    color: #000;
    margin-top: 5%;
}


.locales p{
    color: #000;
}

.carreras {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    height:200px;
    background: rgb(189, 189, 189);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 222, 160) 0%, rgb(249, 246, 255) 48%, rgb(255, 139, 226) 100%);
    background-size: 300% 100%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.cards {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.cards .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cards .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.cards .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.cards .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(26, 26, 26);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.cards .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.cards .back .link a {
    color: #f3f3f3;
}

.cards .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.cards .back p {
    letter-spacing: 1px;
} 

.cards:hover .front {
    transform: perspective(600px) rotateY(180deg);
    cursor: pointer;
}

.cards:hover .back {
    transform: perspective(600px) rotateY(360deg);
    cursor: pointer;
}










.locales span{
    font-weight: 600;
    color: #ff0066;
}

.locales .card{
    margin-left: 20px;
    margin-top: 20px;
    margin-block-end: 10%;
}

.logros{
    background: url(../images/fondo3.png);
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    
}

.logros h3{
    color: #fff;
    margin-top: 5%;
    margin-block-end: 5%;
    font-weight: 200;
}

.logros span{
    color: #e6e6e6;
    font-weight: 400;
}

.logros button{
    color: #ff0066;
    
}



.logros .fondo{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.logros img{
    width: 100%;
}




.tag2{    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-wrap: wrap;
    padding: 40px 0;
    background: #f0f0f0;
    background-image: url(/images/image.png);
    background-attachment: fixed;
    
}


.tag2 .card2{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
    
} 


.container .card2 .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
}

.container .card2:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #e4e4e4, #b6b6b6);
    transition: 0.8s;
}

.container .card2 .box .content{
    padding: 20px;
    text-align: center;
}


.container .card2 .box .content h1{
    position: absolute;
    top:-10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.02);
    transition: 0.5s;
    pointer-events: none;
}
.container .card2:hover .box .content h1{
    color: rgba(0, 0, 0, 0.05);
}

.container .card2 .box .content h3{
    font-size: 1.5em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container .card2:hover .box .content h3,
.container .card2:hover .box .content p
{
    color: #242424;
}

.container .card2 .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}



.container .card2 .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #414141;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    
}

.container .card2:hover .box .content a{
    background: #ff004c;
}






.formulario{
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)),url(../images/bg.jpg);
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.formulario .container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color:crimson;
    margin-right: 10px;
    font-size:25px;
}



.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: crimson;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

.formulario form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid crimson;
    animation: shake .2s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:crimson;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: crimson;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: rgb(172, 16, 47);
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}



.footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    padding: 30px 0;
}

.footer .container{
    align-items: center;
    position: relative;
}

.footer h4{
    color: rgb(230, 230, 230);
    font-size: 16px;
    margin-left: 20px;
}

.footer li{
    padding-top: 5px;
}
.footer li a{
    color: white;
    text-decoration: none;
    align-items: center;
    margin-left: 20px;
}

.footer li a:hover{
    color: #fa2263;
}
.footer a i{
    color: white;
    margin-left: 20px;
}

.footer a i:hover{
    color: #fa2263;
}
.footer .container h5{
    color: white;
    font-weight: 20;
    font-size: 12px;
    align-items: center;
}
